<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='a1.css') }}">
</head>
<body>

    {% include 'nav.html' %}

    <div class="container">
        <h1>A1: Search Engine</h1>

        <form action="{{ url_for('a1') }}" method="post">
            <label for="search_query">Enter your search query:</label>
            <input type="text" id="search_query" name="search_query" required>
            <button type="submit">Search</button>
        </form>

        {% if results %}
            <div class="result-card">
                <h2>Similar Words:</h2>
                <ul>
                    {% for word in results %}
                        <li>{{ word }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

</body>
</html>
