<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='a1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='a4.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
</head>

<body style="background-color:white;">

    {% include 'nav.html' %}

    <h1>A4 Resume Parser</h1>

    <form id="extractionForm" action="{{ url_for('a4') }}" method="POST" enctype="multipart/form-data">
        <label for="fileInput" multiple>Upload a file:</label>
        <input type="file" id="fileInput" name="fileInput" accept=".pdf" required>

        <button type="submit">Extract Information</button>
    </form>

    {% if extracted_info %}
    <div class="result-container">
        <table id="resultTable">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for category, details in extracted_info.items() %}
                <tr>
                    <td>{{ category }}</td>
                    <td>{{ details}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="exportBtnContainer">
        <button onclick="exportToCSV()">Export to CSV</button>
    </div>
    {% endif %}

    <script>
        function exportToCSV() {
            // Get the table data
            var table = document.getElementById('resultTable');
            var data = [];
    
            for (var i = 0; i < table.rows.length; i++) {
                var rowData = [];
                for (var j = 0; j < table.rows[i].cells.length; j++) {
                    rowData.push(table.rows[i].cells[j].innerText);
                }
                data.push(rowData);
            }
    
            // Convert data to CSV format
            var csv = Papa.unparse(data);
    
            // Create a Blob containing the CSV data
            var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
    
            // Create a download link and trigger a click to download the CSV file
            var link = document.createElement('a');
            var url = URL.createObjectURL(blob);
            link.href = url;
            link.download = 'extraction_results.csv';
            link.click();
        }
    </script>
    

</body>

</html>
